@charset "utf-8";

/* 共通部分
-------------------------------- */
html {
    font-size: 100%; /* ユーザーの指定した文字サイズを正しく反映させるため */
}
body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7; /* 行の高さ指定 */
    color: #432;
}
a {
    text-decoration: none; /* <a>タグの傍線の指定 */
}
img {
    max-width: 100%; /*画像の大きさ指定(親要素より大きくならなくなる）*/
}
.wrapper {
    max-width: 1100px; /* 横幅最大設定でバランス調整 */
    margin: 0 auto; /* 中央配置 */
    padding: 0 4%; /* スマートフォン向け余白指定 */
}
/* 見出し */
.page-title {
    font-size: 5rem;     /* フォントの指定 */
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}

/* BUTTON */
.button {
    font-size: 1.375rem;  /* フォント、色、角丸、余白の指定 */
    background-color: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background-color: #0090aa; /* カーソルをボタンに重ねた時の色を指定 */
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover; /* 画像縦横比率をのままで画面いっぱいに広げたいとき */
    background-position: center top;
    /* background-color: blueviolet; 背景色を設定（ブレンドモード用） */
    /* background-blend-mode: darken; ブレンドモードを指定 */
}

/* HEADER
-------------------------------- */
.logo {
    width: 210px;
    margin-top: 14px;
}
.main-nav {
    display: flex; /* 横並びを指定 */
    font-size: 1.25rem;
    text-transform: uppercase; /* 大文字に変換 */
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd; /* マウスホバーで色変更 */
}
.page-header {
    display: flex; /* 横並びを指定 */
    justify-content: space-between; /* 両端へ配置 */
}


/* HOME
-------------------------------- */
#home {
    background-image: url(../images/main-bg.jpg); /* 画像と画面の高さの指定 */
    min-height: 100vh;
}
#home .page-title {
    text-transform: none; /* テキストの大文字、小文字、全角の指定。noneは変換しない指定 */
}
.home-content {
    text-align: center; /* 画面中央と余白の指定 */
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem; /* pタグへのフォントサイズと余白の指定 */
    margin: 10px 0 42px;
}

/* NEWS
-------------------------------- */
#news {
    background-image: url(../images/news-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
}
#news .page-title {
    text-align: center;
}

/* 記事部分 */
article {       /* バナー追加で width を73%から60%に変更した */
    width: 60%; /* % で指定することで画面幅が変わっても伸縮するようになる */
    /* order: 2;    2番目に表示される */
}
.post-info {
    position: relative; /*相対位置への配置*/
    padding-top: 4px;
    margin-bottom: 40px;
}
.post-date {   /*日付部分の装飾*/
    background: #0bd;
    border-radius: 50%;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0%;
    padding-top: 10px;
}
.post-date span {   /*日付部分の下側の装飾*/
    font-size: 1rem;
    border-top: 1px rgba(255, 255, 255, .5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}
.post-title {   /* font指定 游明朝体を指定、無ければセリフ体となる */
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
}
.post-title,
.post-cat {
    margin-left: 120px;  /*位置調整*/
}
article image {
    margin-bottom: 20px;
}
article p {
    margin-bottom: 1rem;
}

/* サイドバー */
aside {
    width: 22%;
    /* order: 3;    3番目に表示される */
}
/* .ad {
    order: 1;    1番目に表示される
} */
.news-contents {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px solid #0bd;
    font-weight: normal;
}
aside p {
    padding: 12px 10px;
}
.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li {
    border-bottom: 1px #ddd solid;
}
.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}
.sub-menu a:hover {
    color: #0bd;
}

/* MENU
-------------------------------- */
#menu {
    background-image: url(../images/menu-bg.jpg);
    min-height: 100vh;
}
.menu-content {
    max-width: 560px;
    margin-top: 10%;
}
.menu-content .page-title {
    text-align: center;
}
.menu-content p {
    font-size: 1.125rem;
    margin-top: 10px 0 0;
}
.grid {
    display: grid;
    gap: 26px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); 上記の省略方法*/
    /* grid-template-columns: repeat(3, minmax(240px, 1fr)); 上記に加え最小値を設定*/
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}
.big-box {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.big-box img {  /* 領域に画像サイズを合わせる */
    width: 100%;
    height: 94%;
    object-fit: cover;  /* はみ出した画像のトリミング(これがないと 100:94 のいびつな割合にみる) */
}

/* FOOTER
-------------------------------- */
footer {
    background-color: #432;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* モバイル版
-------------------------------- */
@media (max-width: 600px) {    /* 0～600pxの画面幅の設定 */
    .page-title {
        font-size: 2.5rem;
    }
    .page-header {
        flex-direction: column; /* column にすることで縦並びになる*/
        align-items: center;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }

    /* NEWS */
    .news-contents {
        flex-direction: column; /* column にすることで縦並びになる*/
    }
    article,
    aside {
        width: 100%;
    }
    #news .page-title {
        margin-top: 30px;
    }
    aside {
        margin-top: 60px;
    }
    .post-info {
        margin-bottom: 30px;
    }
    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }
    .post-title {
        font-size: 1.375rem;
    }
    .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title,
    .post-cat {
        margin-left: 80px;
    }

    /* MENU */
    .menu-content {
        margin-top: 20%;
    }
    .big-box {
        grid-column: auto;
        grid-row: auto;
    }
    .big-box img {
        height: auto;
    }
}